@import 'tailwindcss';

.dark\:bg-black {
	background-color: white;
	color: black;
}

/*
@media (prefers-color-scheme: dark) {
  :root,
  body {
    background-color: white;
    color: black;
  }
}
:root,
body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
:root {
  background-color: white;
  color: black;
}

*/
